# Python / Virtual Environment
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/

# Database
db.sqlite3

# Environment variables & local settings
.env
!.env.example
.DS_Store

# Static files collected for production
staticfiles/

# IDE files
.vscode/
.idea/

# Secrets
*credentials*.json
*-*.json
media/
CICR-IRM-master/