django>=6.1
gunicorn>=26.0.0
python-dotenv>=1.2.2
psycopg[binary]>=3.3.4
djangorestframework>=3.18.0
djangorestframework-simplejwt>=5.5.1
django-cors-headers>=4.9.0
drf-spectacular>=0.30.0
django-filter>=26.1
pillow>=12.3.0
django-extensions>=4.1
django-storages>=1.14.6
