{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>District List</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        table {
            width: 50%;
            margin: 20px auto;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">District List</h1>
    <table>
        <thead>
            <tr>
                <th>Sr. No.</th>
                <th>District Name</th>
            </tr>
        </thead>
        <tbody>
          {% for i in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.district_name}}</td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</body>
</html>

{% endblock %}